<!DOCTYPE html>
<html lang="sv">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }}</title>
        <meta name="description" content="Author: A.N. Author, Illustrator: P. Picture, Category: Books, Price:  £9.24, Length: 784 pages">
        <meta name="robots" content="noindex,nofollow">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ '/' | url }}img/apple-touch-icon-114x114.png">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ '/' | url }}img/favicon-32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ '/' | url }}img/favicon-16.png">
        <link rel="stylesheet" href="{{ '/' | url }}main.css">
    </head>
    <body>
        {{ content }}
    </body>
</html>



